<div class="container" style="margin-bottom: 100px; text-align: center; ">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12"></div>
            </div>

            <div>
                <h2 style="font-family:'samante'; margin-bottom: 50px; margin-top: 20px;">Productos</h2>
            </div>

            <div class="row prod" *ngIf="listProductos$ | async as productos" style="text-align: center;">
                <div class="col-md-4 col-sm-6 col-12" style="margin-bottom: 50px;" *ngFor="let producto of productos">

                    <img src="assets/images/novedad.png" [class]="producto.novedad == true? 'img-fluid img-thumbnail' : 'oculto'" style="height: 70px; width: 70px; position: absolute;">

                    <img src="{{producto.imagen}}" class="img-fluid img-thumbnail" alt="" style="height: 300px; width: 350px; margin-bottom: 20px;" [routerLink]="['producto/' , producto.idProducto]">
                    <span class="" style="font-family:'samante';">{{producto.nombre}}</span>
                    <br>
                    <span style="font-size: 30px; ">{{producto.precio}} €</span>
                </div>
            </div>

        </div>
    </div>
</div>